@mixin btn($bg: $bg-py, $cl: white) {
  padding: 28px 50px;
  border-radius: 16px;
  background: $bg;
  color: $cl;
  font-size: 20px;
  font-weight: bold;
  transition: 0.25s ease-in;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
